<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h1>Ingeniería USAC</h1>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" name="registro_academico" id="inputregistro_academico" #registro_academico="ngModel" [(ngModel)]="usuarioModel.registro_academico" class="fadeIn second" placeholder="Registro Academico">
      <input type="password" id="inputContrasena" class="fadeIn third" name="contrasena" #contrasena="ngModel" [(ngModel)]="usuarioModel.contrasena" placeholder="Contraseña">
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="login()">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">¿Olvidó su contraseña?</a>
    </div>

  </div>
</div>
