<!------ Include the above in your HEAD tag ---------->
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h1>Olvidó su contraseña</h1>
    </div>

    <!-- Login Form -->
    <form *ngIf="validador == false">
      <a>Escriba por favor su registro académico y su correo</a>
      <input type="text" name="registro_academico" #registro_academico="ngModel" [(ngModel)]="usuarioComprobado.registro_academico" id="inputregistro_academico" class="fadeIn second" placeholder="Registro Academico">
      <input type="text" id="inputCorreo" class="fadeIn third" name="correo" #correo="ngModel" [(ngModel)]="usuarioComprobado.correo" placeholder="Correo">
      <input (click)="comprobarUsuario()" type="submit" class="fadeIn fourth" value="Validar correo">
    </form>

    <form *ngIf="validador == true">
      <a>Escriba su nueva contraseña</a>
      <input type="text" id="inputContrasena" class="fadeIn third" name="contrasena" #contrasena="ngModel" [(ngModel)]="usuarioConNuevaContrasena.contrasena" placeholder="Nueva Contraseña">
      <input (click)="editarUsuario()" type="submit" class="fadeIn fourth" value="Reiniciar contraseña">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
    </div>
  </div>
  <button type="button" [routerLink]="['/login']" style="margin-top: 4rem; padding: 1rem; padding-left: 10rem ;padding-right: 10rem;" class="btn btn-info text-white">Iniciar sesión</button>
</div>

